* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

.html body {
  height: 100%;
  width: 100%;
  perspective: 800px;
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #95c113;
  position: fixed;
  z-index: 99;
}

#cursor-fog {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: #96c1136e;
  position: fixed;
  filter: blur(100px);
  z-index: 9;
}

#nav {
  height: 150px;
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 55px;
  position: fixed;
  padding: 0 150px;
  z-index: 99;
  color: white;
}

#nav img {
  height: 75px;
}

#nav h4 {
  text-transform: uppercase;
}

video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.099);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 150px;
  z-index: 10;
}

#page1 h1 {
  font-size: 120px;
  color: white;
  text-transform: uppercase;
}

#page1 h3 {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 20px;
  color: white;
  width: 50%;

}
#page2 {
 min-height: 100vh;
  /* vh is a unit that represents 1% of the viewport height, so 100vh means the element will take up the entire height of the viewport. */
  width: 100%;
  z-index: 10;
}

#scroller {
  /* background-color: rgb(223, 29, 29); */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;

}



scroller:-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
    text-transform: uppercase;
  font-size: 90px;
  font-weight: 800px;
  font-family: gilroy;
  color: transparent;
  transition: all linear 0.3s;
  margin-right: 20px;
  -webkit-text-stroke: 2px #95c113;
}

#scroller h4:hover {
  color: #95c113;
}


#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display:flex;
align-items: center;
justify-content: space-around;
padding: 0 50px;
position: relative;
z-index: 10;
}

#about-us img {
  height: 200px;
  width: 200px;
border-radius: 20px;
object-fit: cover;
}

#about-us-in {
color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#about-us-in h3 {
  font-size: 60px;
  text-transform: uppercase;
}

#about-us-in p {
  font-size: 20px;
  line-height: 30px;
}


#cards-container {
/* background-color: RED; */
  height: 60vh;
display: flex;
align-items: center;
justify-content: center;
gap: 70px;
position: relative;
z-index: 10;
}


.cards {
  height: 80%;
  width: 25%;
  /* background-color: blue; */
  border-radius: 10px;
  background-size: cover;
  background-position: center;
position: relative;
overflow:   hidden;
transition: all ease 0.6s;
}

#cards-1{
  background-image: url(card1.avif);

}

#cards-2{
 background-image: url(card2.webp);
}

#cards-3{
background-image: url(card3.avif);
}

.overlay {
  height: 100%;
  width: 100%;
background-color: #95c113;
padding-top: 160px;
opacity: 0;
transition: all ease 0.6s;
}

.overlay h4 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.overlay p {
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 0 10px;
} 

.cards:hover .overlay { 
  opacity: 1;
 }


.cards:hover{
transform: rotate3d(1,1,0,20deg);
}

#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left bottom, #119f3a, #ace022);
}


#green-div h4 {
width:  45%;
font-size: 23px;
font-weight: 800;
text-transform: uppercase;
text-align: center;
line-height: 50px;
color: black;
}

#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
} 

#page3 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
#page3>p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  width: 55%;
  text-align: center;
  line-height: 40px;
}



#page3 img {
position: absolute;
height: 60px;
}

#page3 #Colon-1 {
  top: 30%;
  left: 20%;
}
#page3 #Colon-2 {
  bottom: 30%;
  right: 20%;
}


#page4 {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
}
.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 6.4vw;
  position: absolute;
  top: -15%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}
#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}





